



/* *********** Class *********** */
.grid-container{
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vn;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}


.span-two{
    grid-column: span 2;
}

.grid-container > button{
    cursor:pointer;
    font-size: 2rem;
    border: none;
    outline: none;
    background-color: black;
    color: aliceblue;
}

.grid-container > .operador {
    background-color: rgb(13, 58, 58);

}

.grid-container > .output{
    grid-column: 1/ -1;
    background-color: #222;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}

.grid-container > .output > .previous-operand{
    color: aliceblue;
    font-size: 1.5rem;
}
.grid-container > .output > .current-operand{
    color: aliceblue;
    font-size: 1.5rem;
}



/* *********** TAG *********** */

*{
    text-transform: uppercase;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold ;
    margin: 0px;
    padding: 0px;

}

body{
    
    background-color: aqua;
    padding-top: 4rem;
}

h1{
    display: flex;

}

/* *********** alt *********** */







